
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.8);
  z-index: 99;
  transition: all 0.3s;
}

.popup-container {
  position: relative;
  width: 80%;
  max-width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: white;
  border-radius: 10px;
}

.popup-container .content {
  padding: 20px;
  overflow-x: hidden;
}

.popup-container h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 30px;
}

.popup-container h4 {
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.popup-container .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: transform 0.3s;
}

.popup-container .close:hover {
  transform: rotate(180deg);
}

.popup-container ul {
  margin-left: 18px;
  margin-bottom: 20px;
}

.popup-container li {
  list-style: disc;
}

.popup-container .btn {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .popup-container {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .popup-container h3 {
    text-align: center;
  }

  .popup-container .content {
    height: auto;
  }
}


iframe {
  border-radius: 10px;
  border: none;
  height: 100%;
  min-height: 300px;
  width: 100%;
}

#gmaps {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.gmaps {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: #000;
  text-align: center;
}

.gmaps-sub {
  overflow: auto;
  position: absolute;
  height: 0;
  width: 0;
}

.nvs {
  position: relative;
  text-align: right;
  height: 325px;
  width: 100%;
  max-width: 643px;
}

#gmap_canvas img {
  max-width: none !important;
  background: none !important;
}