
@import "./_layout";
@import "./_typography";
@import "./_header";
@import "./_sections";
@import "./_footer";
@import "./_card";
@import "./_buttons";
@import "./_form";
@import "./_popup";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
